In [7]:
import pandas as pd

In [8]:
from pandas_datareader.data import DataReader
from datetime import date

In [10]:
ticker = 'AAPL', 'GOOGL','FB','MSFT','PYPL','AMZN','CSCO','EBAY','ORCL','IBM','NFLX','XRX','TWTR','HPQ','CRM','INTC'
start = date(2018,1,1)
end = date.today()
source = 'yahoo'

In [11]:
stock =  pd.DataFrame(DataReader(ticker, source, start, end))
stock.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 355 entries, 2018-01-02 to 2019-05-31
Data columns (total 96 columns):
(High, AAPL)          355 non-null float64
(High, AMZN)          355 non-null float64
(High, CRM)           355 non-null float64
(High, CSCO)          355 non-null float64
(High, EBAY)          355 non-null float64
(High, FB)            355 non-null float64
(High, GOOGL)         355 non-null float64
(High, HPQ)           355 non-null float64
(High, IBM)           355 non-null float64
(High, INTC)          355 non-null float64
(High, MSFT)          355 non-null float64
(High, NFLX)          355 non-null float64
(High, ORCL)          355 non-null float64
(High, PYPL)          355 non-null float64
(High, TWTR)          355 non-null float64
(High, XRX)           355 non-null float64
(Low, AAPL)           355 non-null float64
(Low, AMZN)           355 non-null float64
(Low, CRM)            355 non-null float64
(Low, CSCO)           355 non-null float64
(Low, EBAY)           355 non-null float64
(Low, FB)             355 non-null float64
(Low, GOOGL)          355 non-null float64
(Low, HPQ)            355 non-null float64
(Low, IBM)            355 non-null float64
(Low, INTC)           355 non-null float64
(Low, MSFT)           355 non-null float64
(Low, NFLX)           355 non-null float64
(Low, ORCL)           355 non-null float64
(Low, PYPL)           355 non-null float64
(Low, TWTR)           355 non-null float64
(Low, XRX)            355 non-null float64
(Open, AAPL)          355 non-null float64
(Open, AMZN)          355 non-null float64
(Open, CRM)           355 non-null float64
(Open, CSCO)          355 non-null float64
(Open, EBAY)          355 non-null float64
(Open, FB)            355 non-null float64
(Open, GOOGL)         355 non-null float64
(Open, HPQ)           355 non-null float64
(Open, IBM)           355 non-null float64
(Open, INTC)          355 non-null float64
(Open, MSFT)          355 non-null float64
(Open, NFLX)          355 non-null float64
(Open, ORCL)          355 non-null float64
(Open, PYPL)          355 non-null float64
(Open, TWTR)          355 non-null float64
(Open, XRX)           355 non-null float64
(Close, AAPL)         355 non-null float64
(Close, AMZN)         355 non-null float64
(Close, CRM)          355 non-null float64
(Close, CSCO)         355 non-null float64
(Close, EBAY)         355 non-null float64
(Close, FB)           355 non-null float64
(Close, GOOGL)        355 non-null float64
(Close, HPQ)          355 non-null float64
(Close, IBM)          355 non-null float64
(Close, INTC)         355 non-null float64
(Close, MSFT)         355 non-null float64
(Close, NFLX)         355 non-null float64
(Close, ORCL)         355 non-null float64
(Close, PYPL)         355 non-null float64
(Close, TWTR)         355 non-null float64
(Close, XRX)          355 non-null float64
(Volume, AAPL)        355 non-null float64
(Volume, AMZN)        355 non-null float64
(Volume, CRM)         355 non-null float64
(Volume, CSCO)        355 non-null float64
(Volume, EBAY)        355 non-null float64
(Volume, FB)          355 non-null float64
(Volume, GOOGL)       355 non-null float64
(Volume, HPQ)         355 non-null float64
(Volume, IBM)         355 non-null float64
(Volume, INTC)        355 non-null float64
(Volume, MSFT)        355 non-null float64
(Volume, NFLX)        355 non-null float64
(Volume, ORCL)        355 non-null float64
(Volume, PYPL)        355 non-null float64
(Volume, TWTR)        355 non-null float64
(Volume, XRX)         355 non-null float64
(Adj Close, AAPL)     355 non-null float64
(Adj Close, AMZN)     355 non-null float64
(Adj Close, CRM)      355 non-null float64
(Adj Close, CSCO)     355 non-null float64
(Adj Close, EBAY)     355 non-null float64
(Adj Close, FB)       355 non-null float64
(Adj Close, GOOGL)    355 non-null float64
(Adj Close, HPQ)      355 non-null float64
(Adj Close, IBM)      355 non-null float64
(Adj Close, INTC)     355 non-null float64
(Adj Close, MSFT)     355 non-null float64
(Adj Close, NFLX)     355 non-null float64
(Adj Close, ORCL)     355 non-null float64
(Adj Close, PYPL)     355 non-null float64
(Adj Close, TWTR)     355 non-null float64
(Adj Close, XRX)      355 non-null float64
dtypes: float64(96)
memory usage: 269.0 KB

In [12]:
start = date(2018,1,1)
end = date.today()
source = 'yahoo'

In [13]:
ticker1 = 'AAPL'
aapl =  pd.DataFrame(DataReader(ticker1, source, start, end))
aapl.to_csv('C:\Stuff\JobApplication\StockMarket\Tech\AAPL.csv', index = True)
aapl.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 355 entries, 2018-01-02 to 2019-05-31
Data columns (total 6 columns):
High         355 non-null float64
Low          355 non-null float64
Open         355 non-null float64
Close        355 non-null float64
Volume       355 non-null float64
Adj Close    355 non-null float64
dtypes: float64(6)
memory usage: 19.4 KB

In [14]:
ticker2 = 'GOOGL'
googl =  pd.DataFrame(DataReader(ticker2, source, start, end))
googl.to_csv('C:\Stuff\JobApplication\StockMarket\Tech\GOOGL.csv', index = True)

In [15]:
googl['Symbol'] = 'GOOGL'
googl.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 355 entries, 2018-01-02 to 2019-05-31
Data columns (total 7 columns):
High         355 non-null float64
Low          355 non-null float64
Open         355 non-null float64
Close        355 non-null float64
Volume       355 non-null int64
Adj Close    355 non-null float64
Symbol       355 non-null object
dtypes: float64(5), int64(1), object(1)
memory usage: 22.2+ KB

In [16]:
ticker3 = 'FB'
fb =  pd.DataFrame(DataReader(ticker3, source, start, end))
fb.to_csv('C:\Stuff\JobApplication\StockMarket\Tech\FB.csv', index = True)
fb['Symbol'] = 'FB'
fb.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 355 entries, 2018-01-02 to 2019-05-31
Data columns (total 7 columns):
High         355 non-null float64
Low          355 non-null float64
Open         355 non-null float64
Close        355 non-null float64
Volume       355 non-null int64
Adj Close    355 non-null float64
Symbol       355 non-null object
dtypes: float64(5), int64(1), object(1)
memory usage: 22.2+ KB

In [116]:
ticker4 ='MSFT'
msft =  pd.DataFrame(DataReader(ticker4, source, start, end))
msft.to_csv('C:\Stuff\JobApplication\StockMarket\Tech\MSFT.csv', index = True)
msft['Symbol'] = 'MSFT'
msft.info()

In [117]:
ticker5 = 'AMZN'
amzn =  pd.DataFrame(DataReader(ticker5, source, start, end))
amzn.to_csv('C:\Stuff\JobApplication\StockMarket\Tech\AMZN.csv', index = True)

In [118]:
ticker6 = 'PYPL'
pypl =  pd.DataFrame(DataReader(ticker6, source, start, end))
pypl.to_csv('C:\Stuff\JobApplication\StockMarket\Tech\PYPL.csv', index = True)

In [119]:
ticker7 = 'TWTR'
twtr =  pd.DataFrame(DataReader(ticker7, source, start, end))
twtr.to_csv('C:\Stuff\JobApplication\StockMarket\Tech\TWTR.csv', index = True)

In [120]:
ticker8 = 'CRM'
crm =  pd.DataFrame(DataReader(ticker8, source, start, end))
crm.to_csv('C:\Stuff\JobApplication\StockMarket\Tech\CRM.csv', index = True)

In [101]:
tickertop5 = ['AAPL', 'GOOGL','FB','MSFT','AMZN']
top5 = pd.DataFrame(DataReader(tickertop5, source, start, end))

In [17]:
import matplotlib.pyplot as plt
top5['Close'].plot(title = 'Top 5 Tech - Price')
top5['Volume'].plot(title = 'Top 5 Tech - Volume')

NameError: name 'top5' is not defined